<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome {{user.fname}}!</title>
</head>
<body>
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">{{user.fname}} {{user.lname}}</h1>
            <p class="lead">Published Books: {{ user.book_uploader.all | length }} | Favorite Books: {{ user.liked_books.all | length }}</p>
            <hr class="my-2">
            <p>Favorite Books:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Book Link</th>
                        <th>Like it?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in user.liked_books.all %}
                    <tr>
                        <td scope="row">{{book.title}}</td>
                        <td>
                            <a href="/books/{{book.id}}">Review the book</a>
                        </td>
                        <td>
                            {% if reviewer in book.users_who_like.all %}
                                <a href="/unlikebook/{{book.id}}">Un-Favorite</a>
                            {% else %}
                                <a href="/likebook/{{book.id}}">Add to Favorites</a>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <ul>

    </ul>
    <a href="/books" class="btn btn-primary w-25 h-25">Go Back</a>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
</html>